############################################################
# Config for {{ item.name }}
############################################################

stream_port {{ item.stream_port }}
{% if item.target_dir is defined and item.target_dir | length > 0 %}
target_dir /opt/cams/{{ item.target_dir }}
{% endif %}

############################################################
# Options
############################################################

{% for key, value in item.options.items() %}
{{ key }} {{ value }}
{% endfor %}
