[Install]
WantedBy=multi-user.target

[Unit]
Description=motion service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f {{ motion_docker_container_name }}
ExecStartPre=/usr/bin/docker build \
  --tag {{ motion_docker_image_name }}:{{ motion_docker_image_tag }} \
  {{ motion_docker_working_directory }}

ExecStart=/usr/bin/docker run \
  --name {{ motion_docker_container_name }} \
  --volume {{ motion_config_volume }}:/etc/motion \
  --volume {{ motion_log_volume }}:/var/log/motion \
  --volume {{ motion_data_volume }}:/var/lib/motion \
  --publish {{ motion_web_control_interface }}:{{ motion_web_control_port }}:{{ motion_web_control_port }}/tcp \
  --publish {{ motion_steam_interface }}:{{ motion_stream_port }}:{{ motion_stream_port }}/tcp \
{% for camera in motion_cameras %}
  --publish {{ motion_steam_interface }}:{{ camera.stream_port }}:{{ camera.stream_port }}/tcp \
{% endfor %}
  --privileged \
  --tmpfs /tmp \
  {{ motion_docker_image_name }}:{{ motion_docker_image_tag }}

ExecStop=-/usr/bin/docker stop {{ motion_docker_container_name }}
ExecStopPost=-/usr/bin/docker rm -f {{ motion_docker_container_name }}

Restart=always
RestartSec=60s
TimeoutSec=3600
